<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Base Title{% endblock %}</title>
</head>
<body>
    <div id="wrapper">
        {% block body %}
        <p>Base body content</p>
        {% endblock %}
    </div>
</body>
</html>