<!DOCTYPE html>
<html>
<head>
    <title>Simple Template</title>
</head>
<body>
    {% block header %}
    <h1>Default Header</h1>
    {% endblock %}
    
    {% block content %}
    <p>This is the main content block.</p>
    {% endblock %}
    
    {% block footer %}
    <footer>Default Footer</footer>
    {% endblock %}
</body>
</html>